<h1>ADAGE: Download Sample Annotations Selectively</h1>

<div ng-bind="ctrl.queryStatus"></div>

<div ng-hide="ctrl.queryStatus">
  <p class="lead">
    <ul>
      <li>Three fields (<b>experiment</b>, <b>sample_name</b> and
        <b>ml_data_source</b>) will be always included, the others are optional.
      </li>
      <li>To exclude a field, click
        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
        in front of the field, or drag and drop from left to right.
      </li>
      <li>To add a field back, click
        <i class="fa fa-undo fa-lg" aria-hidden="true"></i>
        in front of the field, or drag and drop from right to left.
      </li>
      <li>To reorder a field in either box, drag and drop inside the box.</li>
      <li>When you are ready:
        <button type="button" class="btn btn-primary btn-sm"
                ng-click="ctrl.startDownload()">
          Download
        </button>
      </li>
    </ul>
  </p>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <!-- Three fixed types -->
        <table class="table table-bordered" style="margin-bottom: 0">
          <thead>
            <tr><th style="text-align: center">
              Included Annotation Fields:
            </th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in ctrl.fixedTypes">
              <td>
                {{$index + 1}}: {{item}}
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Optional types -->
        <table class="table table-bordered table-hover" style="margin-top: 0">
          <tbody ng-model="ctrl.includedTypes" as-sortable>
            <tr ng-repeat="item in ctrl.includedTypes" as-sortable-item>
              <td class="success" as-sortable-item-handle>
                <i class="fa fa-trash fa-lg" aria-hidden="true"
                   ng-click="ctrl.delType($index)"></i>
                {{$index + 1 + ctrl.fixedTypes.length}}: {{item}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Excluded types -->
      <div class="col-xs-6 col-md-4">
        <table class="table table-bordered table-hover">
          <thead>
            <tr><th style="text-align: center">
              Excluded Annotation Fields:
            </th></tr>
          </thead>
          <tbody ng-model="ctrl.excludedTypes" as-sortable>
            <!-- When table is blank, create a dummy row to make it "draggable".
              -->
            <tr ng-if="ctrl.excludedTypes.length === 0" as-sortable-item>
              <td as-sortable-item-handle>&nbsp;</td>
            </tr>
            <tr ng-repeat="item in ctrl.excludedTypes" as-sortable-item>
              <td class="danger" as-sortable-item-handle>
                <i class="fa fa-undo fa-lg" aria-hidden="true"
                   ng-click="ctrl.addType($index)"></i>
                {{$index + 1}}: {{item}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4"></div>
    </div>
  </div>
</div>
