*~
*.pyc
whoosh_index/
*.sqlite3
*.json_cache
interface/build/
interface/bin/
interface/node_modules/
interface/vendor/
adage/adage/config.py
data/gene_history
data/*.gene_info
data/bootstrap_cache_*
data/*_pickled_genesets
