<div class="page-header">
  <h3>Analyze</h3>
  <ml-model-view></ml-model-view>
  <ml-model-validator model-id="modelInUrl" is-valid-model="isValidModel">
  </ml-model-validator>
</div>

<!-- Use "ng-show" below to make sure that the DOM will be rendered but hidden;
     "ng-if" will not render the DOM at all when "isValidModel" is falsey, and
     it will leave "$scope.detail" undefined and cause errors. -->
<div ng-show="isValidModel">
  <div>
    <div id="search" ng-class="detail.showing ? 'with-detail':''">
      <p>
        Search for an experiment or set of samples. Click on a search result
        to view more details, add them to an analysis with the
        "<i class="fa fa-plus" aria-hidden="true"></i> Add" button,
        or use the "Analyze" button to go directly into an analysis with
        that experiment or sample added.
      </p>
      <div id="search-results" class="col-sm-11">
        <search placeholder="query text" results="analyze.query_results">
        </search>
        <ul class="list-group">
          <li ng-repeat="searchItem in analyze.query_results"
              ng-class="analyze.itemStyle(searchItem)"
              class="list-group-item">
            <a id="{{searchItem.pk}}" ng-click="detail.show(searchItem)">
              <div class="media-left">
                <span ng-if="searchItem.itemType === 'experiment'"
                      class="badge">
                  {{ searchItem.relatedItems.length }}
                </span>
              </div>
              <div class="media-body">
                <add-item-analyze-button item="searchItem">
                </add-item-analyze-button>
                <add-item-button item="searchItem"></add-item-button>
                <h4 class="list-group-item-heading">
                  {{searchItem.description}}
                </h4>
                <p class="list-group-item-text">{{ searchItem.pk }}:
                  ...<span ng-bind-html="searchItem.snippet"></span>...
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="search-detail" ng-show="detail.showing" class="col-sm-6">
      <search-detail></search-detail>
    </div>
  </div>
</div>
