<div class="modal-header">
  <button type="button" class="close" ng-click="close()">&times;</button>
  <p class="modal-title">Analysis</p>
</div>
<div class="modal-body">
  <h1>Samples <small>(drag to reorder)</small></h1>
  <ul as-sortable ng-model="analysis.sample_list" class="list-group">
    <li ng-repeat="id in analysis.sample_list" 
        as-sortable-item class="list-group-item">
      <div as-sortable-item-handle>
      {{analysis.sample_objects[id].name}}
      ({{analysis.sample_objects[id].ml_data_source}})
      </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="close()">
    Close
  </button>
</div>
