<div>
  <h1 class="page-header">
    Analyze
  </h1>
  <p>
    In this area, users will be able to search for an experiment to analyze, define analysis groups and generate a DA heatmap to review ADAGE node intensities for each sample.
  </p>
  <form class="form-inline" role="form">
    <label for="query_text">Search Experiments</label>
    <input name="query_text" id="query_text" ng-model="query.text" type="search" class="form-control" placeholder="query text">
    <button type="submit" ng-click="get_search()" class="btn-default">Search</button>
  </form>
  <p ng-bind="query.status"></p>
  <ol>
    <li ng-repeat="experiment in query.results">
      <!-- TODO: should maybe use get_absolute_url on the Django end to generate the href below -->
      <a href="http://www.ebi.ac.uk/arrayexpress/experiments/{{ experiment.accession }}/">{{ experiment.accession }}: {{ experiment.name }}</a><br>
      ...<span ng-bind-html="experiment.snippet"></span>...
    </li>
  </ol>
</div>
