<div class="page-header">
  <h3>ADAGE: Gene-Gene Network</h3>
  <ml-model-view></ml-model-view>
  <ml-model-validator model-id="ctrl.modelInUrl"
                      is-valid-model="ctrl.isValidModel">
  </ml-model-validator>
</div>

<!-- Unlike the other HTML template files, this one is using "ng-show" here
     instead of "ng-if". The reason is that when "ng-if" is used to enclose
     the <div> section, the "rzslider" inside won't be rendered correctly.
  -->
<div ng-show="ctrl.isValidModel">
  <h3 class="text-warning" ng-bind="ctrl.statusMessage"></h3>

  <div ng-hide="ctrl.statusMessage">
    <div class="well well-sm">
    <form>
      <strong>Min edge weight:</strong>&nbsp;
      <input type="radio" name="edgeSign" ng-model="ctrl.edgeSign"
             ng-change="ctrl.renderNetwork()" value="negOnly">
      Negative only
      &nbsp;
      <input type="radio" name="edgeSign" ng-model="ctrl.edgeSign"
             ng-change="ctrl.renderNetwork()" value="posOnly">
      Positive only
      &nbsp;
      <input type="radio" name="edgeSign" ng-model="ctrl.edgeSign"
             ng-change="ctrl.renderNetwork()" value="both">
      Both
    </form>
    <rzslider id="edge-slider"
              rz-slider-model="ctrl.minEdgeWeightSlider.value"
              rz-slider-options="ctrl.minEdgeWeightSlider.options">
    </rzslider>
    </div>

    <div class="well well-sm">
      <strong>Max # of genes:</strong>
      <br>
      <rzslider id="gene-slider"
                rz-slider-model="ctrl.maxGeneNumSlider.value"
                rz-slider-options="ctrl.maxGeneNumSlider.options">
      </rzslider>
    </div>
  </div>
</div>

<!-- DO NOT put the following "chart" div into a div that is controlled by
     "ng-hide" of "ng-if", otherwise the legend bar in d3.network won't be
     rendered correctly (some of the legend marks may be absent).
     See details in GitHub Issue #25.
  -->
<div id="chart"></div>
