<div class="page-header">
  <h3>Gene Network</h3>
  <ml-model-view></ml-model-view>
  <ml-model-validator model-id="searchCtrl.modelInUrl"
                      is-valid-model="searchCtrl.isValidModel">
  </ml-model-validator>
</div>

<div ng-if="searchCtrl.isValidModel">
  <h3>Search for Genes to view as Network</h3>
  <br>
  <autocomplete-search-panel
    ng-if="searchCtrl.autocomplete"
    autocomplete="searchCtrl.autocomplete"
    organism="{{searchCtrl.selectedMlModel.organism.resource_uri}}"
    ml-model="{{searchCtrl.selectedMlModel.id}}">
  </autocomplete-search-panel>

  <div ng-if="!searchCtrl.autocomplete">
    <gene-search-panel
      autocomplete="searchCtrl.autocomplete"
      organism="{{searchCtrl.selectedMlModel.organism.resource_uri}}"
      ml-model="{{searchCtrl.selectedMlModel.id}}">
    </gene-search-panel>
  </div>

  <geneset-search-form ng-if="searchCtrl.userObj"
    organism="{{searchCtrl.selectedMlModel.organism.scientific_name}}"
    ml-model="{{searchCtrl.selectedMlModel.id}}">
  </geneset-search-form>
</div>
