Django==1.11.18
django-fixtureless==1.4.3.3
django-haystack==2.8.1
django-tastypie==0.14.2
elasticsearch==2.4.1
gunicorn==19.9.0
psycopg2==2.7.3.1
python-dateutil==2.5.0
python-mimeparse==1.5.1
six==1.10.0
unicodecsv==0.14.1
urllib3>=1.23
wsgiref==0.1.2
django-genes>=0.16
tribe-client>=1.1.8
defusedxml==0.5.0
lxml==3.7.3
