<div ng-if="!queryStatus">
  <h4>
    <b>Experiments with the Highest Range: </b>
  </h4>
  <button class="btn btn-primary" ng-click="setMode()"
          ng-hide="topMode">Show Top {{topNum}}</button>
  <button class="btn btn-primary" ng-click="setMode()"
          ng-show="topMode">Show All</button>

  <br>
  (Click the activity distribution widget to see sample annotations in this experiement.)
  <table class="table table-striped">
    <tbody>
      <!-- It may seem more intuitive to use:
             <tr ng-repeat="exp in experiments | limitTo: numExpShown">
           but this approach would require re-rendering the vega-lite widget;
           instead we use "$index >= numExpShown" to hide rows of lower range.
         -->
      <tr ng-repeat="exp in experiments" ng-show="$index < numExpShown">
        <td>
          <b>{{$index + 1}}. {{exp.accession}}: </b>{{exp.name}}
          <!-- vega-lite widget. If it is clicked, go to sample annotations
               page. -->
          <a ui-sref="sampleAnnotation(
                      {signature: signatureId, samples: exp.sample_set.join()}
                      )">
            <!-- The UI would look nicer if the tooltip showed up on the right
                 side of the activity distribution map (instead of left side).
                 But because the vega-lite widget takes the full width of the
                 area, if we had set tooltip-placement to "right" or
                 "right-top", the tooltip would have shown up way beyond the
                 right border. So tooltip-placement is set to "left-top" here.
              -->
            <div id="{{ 'exp-' + $index }}"
                 uib-tooltip-html="'<b>Click to see sample annotations</b>'"
                 tooltip-placement="left-top">
            </div>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-bind="queryStatus"></div>
