<div ng-if="!queryStatus">
  <h4>
    <b>{{selectedParticipationType.name}}: </b>{{genes.length}}
    <span ng-if="genes.length > 0">
      &nbsp;({{hypoPercentage}}% Hypothetical)
    </span>
  </h4>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Systematic Name</th>
        <th>Standard Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="gene in genes | orderBy: 'sysName' | limitTo: numGenesShown">
        <td><b>{{gene.sysName}}</b></td>
        <td>{{gene.stdName}}</td>
        <td>{{gene.desc}}</td>
      </tr>

      <tr ng-click="setMode()" ng-show="topMode">
        <td>
          <button type="button" class="btn btn-default">Show all ...</button>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-click="setMode()" ng-hide="topMode">
        <td>
          <button type="button" class="btn btn-default">Only show {{topNum}}</button>
        </td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>

<div ng-bind="queryStatus"></div>
