<div class="page-header" id="top-of-page">
  <h3>Signature: {{ctrl.name}}</h3>
  <ml-model-view></ml-model-view>
</div>

<h3 class="text-warning" ng-bind="ctrl.statusMessage"></h3>

<p>
  <b>Gene Participation Type:</b>
  <br>
  <participation-type-selector
    selected-participation-type="ctrl.selectedParticipationType">
  </participation-type-selector>
  <br>
  <br>
  <b>Description:</b>
  <br>
  {{ctrl.selectedParticipationType.description}}
</p>

<hr>

<div ng-if="!ctrl.statusMessage">
  <h4><b>Sections:</b></h4>
  <li role="presentation">
    <a ng-click="ctrl.goToAnchor({anchor: 'participatory-genes'})">
      {{ctrl.selectedParticipationType.name}}
    </a>
  </li>
  <li role="presentation">
    <a ng-click="ctrl.goToAnchor({anchor: 'high-range-exp'})">
      High range experiments
    </a>
  </li>
  <li role="presentation">
    <a ng-click="ctrl.goToAnchor({anchor: 'enriched-genesets'})">
      Enriched gene sets
    </a>
  </li>
  <br>

  <div class="container">
    <participatory-genes
      signature-id="{{ctrl.id}}"
      genes="ctrl.genes"
      selected-participation-type="ctrl.selectedParticipationType"
      id="participatory-genes">
    </participatory-genes>
    <hr>

    <high-range-exp
      signature-id="{{ctrl.id}}"
      model-id="{{ctrl.modelID}}"
      top-exp="20"
      id="high-range-exp"
      go-to-anchor="ctrl.goToAnchor({anchor: anchor})">
    </high-range-exp>
    <hr>

    <enriched-genesets
      organism="{{ctrl.organism}}"
      genes="ctrl.genes"
      selected-participation-type="ctrl.selectedParticipationType"
      id="enriched-genesets"
      go-to-anchor="ctrl.goToAnchor({anchor: anchor})">
    </enriched-genesets>

  </div>
</div>
