<!--
  TODO each sample should be built using a reusable Angular directive
-->
<h1>Samples <small>(drag to reorder)</small></h1>
<p ng-bind="analysis.queryStatus"></p>
<!-- TODO need a tool to select and order annotation columns -->
<table class="table table-hover">
  <thead>
    <tr>
      <td>&nbsp;</td>
      <td>id</td>
      <td>ML Data Source</td>
      <td>Sample Name</td>
      <td ng-repeat="at in analysis.exampleCols">{{
        at.typename
      }}</td>
    </tr>
  </thead>
  <tbody ng-model="sb.heatmapData.samples" as-sortable="sortableOptions">
    <tr ng-repeat="id in sb.heatmapData.samples" as-sortable-item>
      <td>
        <button type="button" class="btn close"
        ng-click="sb.removeSample(id)" aria-label="Delete">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </td>
      <td>{{id}}</td>
      <td as-sortable-item-handle>{{
        sb.sampleData[id].ml_data_source
      }}</td>
      <td>{{sb.sampleData[id].name}}</td>
      <td ng-repeat="at in analysis.exampleCols">{{
        sb.sampleData[id].annotations[at.typename]
      }}</td>
    </tr>
  </tbody>
</table>
<p>Note: reordering samples above will not (yet) reorder samples in the
  heatmap below. Scroll to the right to see all nodes in the heatmap. Sorting
  and zooming features to come in a future update.</p>
<div vega spec="heatmapSpec" vega-data="sb.heatmapData"></div>
