<!-- MOVED to app/sample/sampleDetail.view.tpl.html
<div class="page-header">
  <h1>Sample</h1>
</div> -->
<!-- MOVED to app/sample/sampleDetail.component.tpl.html
<h2>{{sample.results.name}}</h2>
<h3>Data Source
  <small><a href="{{makeHref.mlDataSource(
    sample.relatedExperiments[0].accession, sample.results.ml_data_source)
  }}">{{sample.results.ml_data_source}}</a></small>
</h3>
<status-bar msg-text="sample.status"></status-bar>
<table class="table">
  <tr ng-repeat="(type, text) in sample.results.annotations">
    <th>{{type}}</th><td>{{text}}</td>
  </tr>
</table>
<h3>Related Experiments</h3>
<ul class="list-group">
  <li ng-repeat="expt in sample.relatedExperiments"
    class="list-group-item">
    <a ng-click="analyze.scroll_to_id(expt.accession)">{{expt.accession}}</a>:
    {{expt.name}}
  </li>
</ul> -->
