<div class="btn-group">
  <button class="btn btn-default" ng-click="removeGene()">
    <i class="fa fa-minus-square"></i> None
  </button>

  <button class="btn btn-default" ng-if="previousButtonPages"
    ng-click="previousGenePage()">
      <i class="fa fa-angle-double-left"></i> Previous
  </button>

  <button class="btn btn-default" uib-tooltip="{{ gene.description }}"
    ng-repeat="gene in buttonPageGenes" ng-click="addToSelectedGenes(gene)">
      {{ getGeneLabel(gene) }}
  </button>

  <button class="btn btn-default" ng-click="nextGenePage()"
    ng-if="additionalButtonPages">
      More <i class="fa fa-angle-double-right"></i>
  </button>
</div>
