<status-bar msg-text="$ctrl.status"></status-bar>
<div ng-if="$ctrl.heatmap.samplesMissingActivity.length">
  <h4>Samples Missing Activity</h4>
  <p>The samples below are missing activity data, either because raw data
    are unavailable or because they have been omitted from the ADAGE
    compendium for another reason. Because data are not available, these
    samples cannot be included in further analysis.
  </p>
  <button type="button" class="btn btn-default btn-sm"
          ng-click="$ctrl.clearSamplesMissingActivity()"
          uib-tooltip="Remove all samples missing activity data"
          tooltip-placement="right">
    <i class="fa fa-times" aria-hidden="true"></i> Remove
  </button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>
          ML Data Source
        </th>
        <th>id</th>
        <th>Sample Name</th>
      </tr>
    </thead>
    <tbody ng-model="$ctrl.heatmap.samplesMissingActivity">
      <tr ng-repeat="id in $ctrl.heatmap.samplesMissingActivity"
          ng-mouseover="showControls = true"
          ng-mouseleave="showControls = false">
        <td class="row-control">
          <button type="button" class="btn row-control"
                  ng-click="$ctrl.removeSample(id)" aria-label="Delete">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          {{$ctrl.sampleDetails[id].ml_data_source | formatMissing}}
        </td>
        <td>{{id}}</td>
        <td>{{$ctrl.sampleDetails[id].name | formatMissing}}</td>
      </tr>
    </tbody>
  </table>
</div>

<p>Note: scroll to the right to see all signatures in the heatmap. Zooming
   feature to come in a future update.</p>
<div vega spec="$ctrl.heatmapSpec" vega-data="$ctrl.heatmap.vegaData"></div>
<nav class="navbar navbar-default">
  <p class="navbar-text">Cluster</p>
  <div class="btn-group" role="group" aria-label="clustering">
    <button type="button" class="btn btn-default navbar-btn"
    ng-click="$ctrl.clusterSamples()">
      Cluster Samples
    </button>
    <button type="button" class="btn btn-default navbar-btn"
    ng-click="$ctrl.clusterSignatures()">
      Cluster Signatures
    </button>
  </div>
</nav>
